{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

        <div class="top-action-bar">
            <h1 class="oswald-semi-bold">TODOFY</h1>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h2 class="roboto-regular">Hello {{ user.username }}</h2>
                <button class="login-confession"><a href="logout">Log Out</a></button>
            {% endif %}
        </div>


            <div>
                <div class="confession-actions"><button class="add-confession"><a href="createConfession">Add confession</a></button</div>
            </div>


    <!-- Confession -->
        <div class="confession-section">
            {% for conf in confession  %}
                <div class="card-confession">
                    <div  class="card-title"><span class="oswald-medium">{{ conf.title }}</span></div>
                    <div class="card-text"><p class="roboto-light">{{ conf.text }}</p></div>
                    <div class="card-delete"><span id="myBtn{{ conf.id }}"><a href="">effacer</a></span></div>
                </div>


            <!-- The Modal -->
            <div id="myModal{{ conf.id }}" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class=""><span id="close{{ conf.id }}" class="close">&times;</span></div>
                    <div class="modal-text"><p>Etes vous sur de vouloir supprimer cette confession ? </p></div>
                    <div class="modal-buttons">
                        <div ><button class="modal-yes" id="yes{{ conf.id }}" data-id="{{ conf.id }}"><a href="delete/{{ conf.id }}">Oui</a></button></div>
                        <div ><button class="modal-no" id="no{{ conf.id }}">Non</button></div>
                    </div>
                </div>

            </div>



<script>
    // Get the modal
    let modal{{ conf.id }} = document.getElementById('myModal{{ conf.id }}');

    // Get the button that opens the modal
    let btn{{ conf.id }} = document.getElementById("myBtn{{ conf.id }}");

    // Get the <span> element that closes the modal
    let span{{ conf.id }} = document.getElementById("close{{ conf.id }}");

    //Get the no button
    let no{{ conf.id }} = document.getElementById("no{{ conf.id }}");

    //Get the yes button
    let yes{{ conf.id }} = document.getElementById("yes{{ conf.id }}");

    // When the user clicks on the button, open the modal
    btn{{ conf.id }}.onclick = function(e) {
        e.preventDefault();
        modal{{ conf.id }}.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span{{ conf.id }}.onclick = function() {
        modal{{ conf.id }}.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal{{ conf.id }}) {
            modal{{ conf.id }}.style.display = "none";
        }
    };

    //When the user clicks on no, close the modal
    no{{ conf.id }}.onclick = function() {
        modal{{ conf.id }}.style.display = "none";
    };
    </script>

    {% endfor %}
        </div>


{% endblock %}